body, .main-content {
    width: 100%;
}

#usageChart {
    max-width: 95%;
    max-height: 90%;
    width:95%;
    height:95%;
}

body.debug-page {
    background-color: #000 !important;
    color: #fff;
    max-width: 100%;
    max-height: 100%;
}

body.debug-page canvas {
    background-color: #111;
}

#notes {
  flex: 1;
  min-height: 70%;
}