{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% set csspage = "home" %}

{% block body_class %}home-page{% endblock %}cpu

{% block content %}
    <main class="main-content">
    <div style="display: flex; align-items: center; gap: 8px;">
        <h1 class="greeting" onclick="openGreetingModal()"><span id="displayGreeting">Hi,</span></h1>
        <h1 class="greeting" onclick="openNameModal()"><span id="displayName">Guest</span></h1>
    </div>
        <h3 id="dailyQuote" style="font-size:1rem; font-weight:400; margin-top:5px; color: var(--text-color); padding: 10px 10px; text-align:center">{{ quote }}</h3>

        <div class="search-container">
            <div class="engine-selector">
                <div class="current-engine" onclick="toggleMenu('engineDropdown')"><i id="activeEngineIcon" data-lucide="search"></i></div>
                <div id="engineDropdown" class="engine-dropdown">
                    <div class="engine-option" onclick="setEngine('google')"><i data-lucide="search"></i> Google</div>
                    <div class="engine-option" onclick="setEngine('youtube')"><i data-lucide="youtube"></i> YouTube</div>
                    <div class="engine-option" onclick="setEngine('spotify')"><i data-lucide="music"></i> Spotify</div>
                    <div class="engine-option" onclick="setEngine('amazon')"><i data-lucide="shopping-cart"></i> Amazon</div>
                    <div class="engine-option" onclick="setEngine('chatgpt')"><i data-lucide="cpu"></i> ChatGPT</div>
                    <div class="engine-option" onclick="setEngine('copilot')"><i data-lucide="cpu"></i> CoPilot</div>
                    <div class="engine-option" onclick="setEngine('claude')"><i data-lucide="cpu"></i> Claude</div>
                    <div class="engine-option" onclick="setEngine('perplexity')"><i data-lucide="cpu"></i> Perplexity</div>
                </div>
            </div>
            <input type="text" id="mainSearch" class="search-bar" placeholder="Search..." autocomplete="off">
        </div>
<div id="shortcutContainer">
    <!-- Add button on same line -->
    <div class="shortcut shortcut-add" id="addShortcutBtn">
        <i data-lucide="plus"></i>
        <span>Add</span>
    </div>
</div>
    </main>
{% endblock %}

{% set scriptsource = "home" %}